<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Website</title>
</head>
<body>

<header>
  <a href='/'><h1>David Link Art</h1></a>
</header>
<div class="hero-slider">
  <div class="slide">
    <picture>
      <source media="(min-width: 768px)" srcset="/images/break_free_hero.jpg">
      <img src="/images/break_free_hero_mb.png" alt="Slide 1">
    </picture>
  </div>

  </div>
  <div class="slide">
    <picture>
      <source media="(min-width: 768px)" srcset="/images/guardian_hero.png">
      <img src="/images/guardian_hero_mb.png" alt="Slide 2">
    </picture>
  </div>

  <div class="slide">
    <picture>
      <source media="(min-width: 768px)" srcset="/images/archer_and_spearman_hero.jpg">
      <img src="/images/archer_and_spearman_hero.jpg" alt="Slide 3">
  </div>

  <div class="slide">
    <picture>
      <source media="(min-width: 768px)" srcset="/images/strive_hero.png">
      <img src="/images/strive_hero.png" alt="Slide 4">
    </picture>
  </div>

  <div class="slide">
    <picture>
      <source media="(min-width: 768px)" srcset="/images/jackson_hero.jpg">
      <img src="/images/jackson_hero.jpg" alt="Slide 5">
    </picture>
  </div>

  <div class="slide">
    <picture>
      <source media="(min-width: 768px)" srcset="/images/sentry_hero.png">
      <img src="/images/sentry_hero.png" alt="Slide 6">
    </picture>
  </div>

  <div class="slide">
    <picture>
      <source media="(min-width: 768px)" srcset="/images/future_hero.png">
      <img src="/images/future_hero.png" alt="Slide 7">
    </picture>
  </div>

  <div class="slider-controls">
    <div class="slider-dots"></div>
    <div class="slider-arrows">
      <span class="arrow left">&lt;</span>
      <span class="arrow right">&gt;</span>
    </div>
  </div>
</div>

<footer>
  <p>footer</p>
  </footer>
<!-- script src="script.js"></script -->
</body>
</html>
