<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Website</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

<div class="hero-slider">
  <div class="slide">
    <img src="/images/break_free_hero.jpg" alt="Slide 1">
  </div>
  <div class="slide">
    <img src="/images/guardian_hero.png" alt="Slide 1">
  </div>
  <div class="slide">
    <img src="/images/archer_and_spearman_hero.jpg" alt="Slide 2">
  </div>
  <div class="slide">
    <img src="/images/strive_hero.png" alt="Slide 2">
  </div>
  <div class="slide">
    <img src="/images/jackson_hero.jpg" alt="Slide 2">
  </div>
  <div class="slide">
    <img src="/images/sentry_hero.png" alt="Slide 2">
  </div>
  <div class="slide">
    <img src="/images/future_hero.png" alt="Slide 2">
  </div>
</div>

<script src="script.js"></script>
</body>
</html>
