#main {
    padding: 20px;
}
.top-images img {
    margin: 0 20px 0 0;
}

.social {
  display: flex;
  align-items: center;
  margin: 25px 0;
}

.social a {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 20px;
}

.social-icon {
  margin-right: 10px;
  width: 30px;
}

@media (min-width: 769px) {
    #main {
	padding: 100px;
    }

    .container {
	display: flex;
    }

    .left-side {
	width: 50%;
	border: 1px solid #ccc;
	padding: 10px;
    }
    .right-side {
	width: 50%;
	border: 1px solid #ccc;
	padding: 10px;
    }
}
