body {
    font-family: 'Calibri Light', Arial, sans-serif;
}
#aside-and-main {
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: auto;
    width: 1100px;
    padding: 10px;
}
