.header {
}
nav {
    border: 1px solid green;
    margin: 10px;
    padding: 10px;
}
.main-container {
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 10px;
    padding: 10px;
}
aside {
    border: 1px solid red;
    width: 100px;
    margin: 10px;
    padding: 10px;
}
main {
    border: 1px solid blue;
    width: 600px;
    padding: 10px;
    margin: 10px;

}
footer {
    border: 1px solid gold;
    margin: 10px;
    padding: 10px;
}

