.gallery {
    max-width: 1100px;
    margin: auto;
}

.gallery > .gallery__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(6, 342px);
    grid-auto-flow: dense;
    padding: 0;
    column-gap: 0;
    /* justify-items: center; */
    /* align-items: center */
    justify-content: stretch;
}
.gallery > .gallery__list li {
    list-style: none;
}

@media (max-width: 767px) {
    .gallery > .gallery__list {
	grid-template-rows: repeat(6, 310px);
    }

}
