#main-container {
    max-width: 600px;
    margin: auto;
}
img.main-pic {
    display: none;
    max-width: 100%;
    max-height: 680px;
    padding: 10px;
}
img.main-pic.selected {
    display: block;
}
.bread-crumbs {
    padding: 0 10px;
}
#piece-description-container {
    max-width: 600px;
    padding: 10px;
}
.piece-name {
    font-weight: bold;
}
.piece-dimensions {
    font-style: italic;
}
.show-name {
    font-weight: bold;
}
.show-gallery {
    font-style: italic;
}
#piece-pic-menu img {
    width: 50px;
}
.piece-menu > .piece-menu__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    padding: 0;
    margin: 0 10px;
}
.piece-menu > .piece-menu__list li {
    list-style: none;
}    
.piece-menu .pic-menu-item {
    padding: 3px;
}
.piece-menu .pic-menu-selected {
    padding: 2px;
    border: 1px solid black;
}
@media (max-width: 767px) {
    img.main-pic {
	width: 300px;
	margin: auto;
    }
}
