#main-container {
    max-width: 900px;
    margin: auto;
}
.show-header p {
    font-size: 18px;
}
.show-item {
    padding: 10px 0 20px;
    line-height: 1.6em;
}
.show-title {
    display: None
}

.show-gallery {
    font-size: 18px;
}
.show-description {
    line-height: 1.5em;
}
.pieces-header {
    font-weight: bold;
    font-size: 1.4pm;
    padding: 20px 0;
}
.show-id {
    font-size: 0.5em;
}
@media (max-width: 767px) {
    #main-container {
	padding: 0 20px;
    }
}

