.thumbnail {
    line-height: 1.1em;
    text-align: center;
}
.thumb-image {
}
.thumb-image img {
}
.thumb-name {
    /* font-weight: bold; */
    padding: 8px 0 5px;
}
.thumb-desc {
    font-size: 0.8em;
}
.thumb-dim {
    font-size: 0.8em;
}
@media (max-width: 767px) {
    .thumb-image img {
	width: 170px;
    }
    .thumb-name {
	font-size: 0.8em;
	padding: 3px 0;
    }
    .thumb-desc {
	font-size: 0.7em;
    }
    .thumb-dim {
	font-size: 0.7em;
    }
}
